@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid site-content-container">

    <div class="card">
      <div class="card-header">
        List of Persons
      </div>
      <div class="card-body">
            <table id="person-tbl" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Identity Number</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
      </div>
    </div>

    

</div>
@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    
    <script src="~/js/persons.js" asp-append-version="true"></script>
}
